In [3]:
import pandas as pd
# Read the CSV file into a DataFrame
ratings = pd.read_csv('ratings.csv')

# Display the resulting DataFrame
ratings[['user_id', 'food_id', 'rating']]

      user_id  food_id  rating
0         502     2898       0
1         502     2431       0
2         502     3181       0
3         502     3077       0
4         502     2329       0
...       ...      ...     ...
6593      248     1930       0
6594      248     3208       0
6595      248     2956       0
6596      248     3368       0
6597      248     2907       0

[6598 rows x 3 columns]

In [4]:
users = pd.read_csv('Dataset of Diabetes .csv')
food = pd.read_csv('food_data_modified.csv')

In [5]:
print(users.shape)
print(ratings.shape)
print(food.shape)

(1000, 14)
(6598, 3)
(2617, 11)

In [6]:
import numpy as np
ratings['rating'] = np.random.randint(1, 11, size=len(ratings));
ratings[['user_id', 'food_id', 'rating']]

      user_id  food_id  rating
0         502     2898       1
1         502     2431       7
2         502     3181       5
3         502     3077       9
4         502     2329       1
...       ...      ...     ...
6593      248     1930       5
6594      248     3208      10
6595      248     2956       4
6596      248     3368       1
6597      248     2907       5

[6598 rows x 3 columns]

In [7]:
users.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [8]:
ratings.duplicated().sum()

0

In [9]:
# Drop duplicate rows based on all columns
food = food.drop_duplicates()
# Display the resulting DataFrame without duplicates
food.duplicated().sum()

0

In [10]:
print(food.columns)
print(ratings.columns)
print(users.columns)

Index(['id', 'title', 'imageSrc', 'url', 'cookTime', 'carbohydrates', 'fat',
       'protein', 'calories', 'like', 'dislike'],
      dtype='object')
Index(['user_id', 'food_id', 'rating'], dtype='object')
Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [11]:
# Rename a specific column (e.g., 'old_column_name' to 'new_column_name')
ratings.rename(columns={'food_id': 'foodId'}, inplace=True)
ratings.rename(columns={'rating': 'star'}, inplace=True)
ratings.rename(columns={'user_id': 'ID'}, inplace=True)
print(ratings)

       ID  foodId  star
0     502    2898     1
1     502    2431     7
2     502    3181     5
3     502    3077     9
4     502    2329     1
...   ...     ...   ...
6593  248    1930     5
6594  248    3208    10
6595  248    2956     4
6596  248    3368     1
6597  248    2907     5

[6598 rows x 3 columns]

In [12]:
food.rename(columns={'id':'foodId'}, inplace=True)
food.columns

Index(['foodId', 'title', 'imageSrc', 'url', 'cookTime', 'carbohydrates',
       'fat', 'protein', 'calories', 'like', 'dislike'],
      dtype='object')

In [13]:
ratings_merged_food=ratings.merge(food, on='foodId')
print(ratings_merged_food)

       ID  foodId  star                                           title  \
0     502    2898     1                      Zanahorias pequeñas asadas
1     102    2898     2                      Zanahorias pequeñas asadas
2     401    2898    10                      Zanahorias pequeñas asadas
3     579    2898     7                      Zanahorias pequeñas asadas
4      94    2898     2                      Zanahorias pequeñas asadas
...   ...     ...   ...                                             ...
6593  192    2067     8  Arugula & Prosciutto Pizza with Zucchini Crust
6594  193    2301     8                     Frittata de jamón y brócoli
6595  198     328     8                         Japanese Cucumber Salad
6596   99    2049     2                         Quick & Easy Cheese Dip
6597  248    2907     5                             Tabbouleh de quinoa

                                               imageSrc  \
0     https://static.diabetesfoodhub.org/system/thum...
1     https://static.diabetesfoodhub.org/system/thum...
2     https://static.diabetesfoodhub.org/system/thum...
3     https://static.diabetesfoodhub.org/system/thum...
4     https://static.diabetesfoodhub.org/system/thum...
...                                                 ...
6593  https://static.diabetesfoodhub.org/system/thum...
6594  https://static.diabetesfoodhub.org/system/thum...
6595  https://static.diabetesfoodhub.org/system/thum...
6596  https://static.diabetesfoodhub.org/system/thum...
6597  https://static.diabetesfoodhub.org/system/thum...

                                                    url cookTime  \
0     https://www.diabetesfoodhub.org/recipes/zanaho...   20 min
1     https://www.diabetesfoodhub.org/recipes/zanaho...   20 min
2     https://www.diabetesfoodhub.org/recipes/zanaho...   20 min
3     https://www.diabetesfoodhub.org/recipes/zanaho...   20 min
4     https://www.diabetesfoodhub.org/recipes/zanaho...   20 min
...                                                 ...      ...
6593  https://www.diabetesfoodhub.org/recipes/arugul...   12 min
6594  https://www.diabetesfoodhub.org/recipes/fritta...   25 min
6595  https://www.diabetesfoodhub.org/recipes/japane...      NaN
6596  https://www.diabetesfoodhub.org/recipes/quick-...      NaN
6597  https://www.diabetesfoodhub.org/recipes/tabbou...      NaN

      carbohydrates  fat  protein  calories  like  dislike
0               8.0  2.5      0.0      50.0   0.0      0.0
1               8.0  2.5      0.0      50.0   0.0      0.0
2               8.0  2.5      0.0      50.0   0.0      0.0
3               8.0  2.5      0.0      50.0   0.0      0.0
4               8.0  2.5      0.0      50.0   0.0      0.0
...             ...  ...      ...       ...   ...      ...
6593            6.0  6.0      7.0     100.0   3.0      1.0
6594           14.0  6.0      0.0     170.0   1.0      0.0
6595            8.0  9.0      1.0     120.0   0.0      1.0
6596            3.0  5.0      4.0      80.0   5.0      1.0
6597           24.0  4.5      0.0     150.0   0.0      0.0

[6598 rows x 13 columns]

In [14]:
ratings_merged_food.columns

Index(['ID', 'foodId', 'star', 'title', 'imageSrc', 'url', 'cookTime',
       'carbohydrates', 'fat', 'protein', 'calories', 'like', 'dislike'],
      dtype='object')

In [15]:
columns_to_drop = ['imageSrc', 'cookTime', 'url', 'like', 'dislike']
ratings_merged_food = ratings_merged_food.drop(columns_to_drop, axis=1)
print(ratings_merged_food)

       ID  foodId  star                                           title  \
0     502    2898     1                      Zanahorias pequeñas asadas
1     102    2898     2                      Zanahorias pequeñas asadas
2     401    2898    10                      Zanahorias pequeñas asadas
3     579    2898     7                      Zanahorias pequeñas asadas
4      94    2898     2                      Zanahorias pequeñas asadas
...   ...     ...   ...                                             ...
6593  192    2067     8  Arugula & Prosciutto Pizza with Zucchini Crust
6594  193    2301     8                     Frittata de jamón y brócoli
6595  198     328     8                         Japanese Cucumber Salad
6596   99    2049     2                         Quick & Easy Cheese Dip
6597  248    2907     5                             Tabbouleh de quinoa

      carbohydrates  fat  protein  calories
0               8.0  2.5      0.0      50.0
1               8.0  2.5      0.0      50.0
2               8.0  2.5      0.0      50.0
3               8.0  2.5      0.0      50.0
4               8.0  2.5      0.0      50.0
...             ...  ...      ...       ...
6593            6.0  6.0      7.0     100.0
6594           14.0  6.0      0.0     170.0
6595            8.0  9.0      1.0     120.0
6596            3.0  5.0      4.0      80.0
6597           24.0  4.5      0.0     150.0

[6598 rows x 8 columns]

In [16]:
final_rating=ratings_merged_food
pt = final_rating.pivot_table(index='title',columns='ID',values='star')
pt.fillna(0,inplace=True)
pt

ID,1,2,3,4,5,6,7,8,9,10,...,791,792,793,794,795,796,797,798,799,800
title,,,,,,,,,,,,,,,,,,,,,
"""Alas"" sin hueso a la Barbacoa",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Arroz frito"" de Vegetales y Freekeh con Pimientos Shishito y Cacahuates",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Arroz"" frito de Coliflor",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Batatas"" Fritas",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Emparedado"" Abierto de Batatas",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zuppa Toscana with Cauliflower and Kale,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zuppa di Ceci (Chickpea Soup),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zuppa di Ceci (Sopa de Garbanzos),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
emparedado de filete y portobello,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
vegetales de invierno rostizados,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
similarity_scores = cosine_similarity(pt)

In [19]:
print(similarity_scores.shape)

(2341, 2341)

In [20]:
similarity_scores

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [21]:
def recommend(food_name):
    index = np.where(pt.index==food_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = food[food['title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        
        data.append(item)
    
    return data

In [22]:
recommend("Meat Lover's Breakfast Cups")

[["Meat Lover's Breakfast Cups"],
 ['Papas rojas rústicas y frijoles verdes'],
 ['Vegetable & Freekeh "Fried Rice" with Shishito Peppers and Peanuts'],
 ['Quinoa Oatmeal'],
 ['Quiche de calabaza con corteza de quinoa']]

In [23]:
recommend("Papas rojas rústicas y frijoles verdes")

[["Meat Lover's Breakfast Cups"],
 ['Papas rojas rústicas y frijoles verdes'],
 ['Vegetable & Freekeh "Fried Rice" with Shishito Peppers and Peanuts'],
 ['Quinoa Oatmeal'],
 ['Quiche de calabaza con corteza de quinoa']]

In [24]:
recommend('"Batatas" Fritas')

[['Italian Sausage Frittata'],
 ['Grilled Peaches with Fresh Blueberry Compote'],
 ['Walnut Lentil Salad'],
 ['Sofrito de Cerdo y Freekeh con Coles de bruselas, Zanahorias, y Pimientos shishito'],
 ['Agua de sandía y romero']]

In [25]:
recommend("Walnut Lentil Salad")

[['Whole Wheat Fresh Gingerbread'],
 ['Black Bean, Mango and Chicken Quesadillas with Salad'],
 ['Toasted Nut & Cranberry Trail Mix'],
 ['Cinnamon Apple Chips with Peanut Butter Yogurt Dip'],
 ['"Batatas" Fritas']]

In [26]:
# Save the modified DataFrame to a new CSV file
ratings.to_csv('modified_ratings.csv', index=False)