In [3]:
import pandas as pd
# Read the CSV file into a DataFrame
ratings = pd.read_csv('modified_ratings.csv')

# Display the resulting DataFrame
ratings

       ID  foodId  star
0     502    2898     1
1     502    2431     7
2     502    3181     5
3     502    3077     9
4     502    2329     1
...   ...     ...   ...
6593  248    1930     5
6594  248    3208    10
6595  248    2956     4
6596  248    3368     1
6597  248    2907     5

[6598 rows x 3 columns]

In [4]:
users = pd.read_csv('Dataset of Diabetes .csv')
food = pd.read_csv('food_data_modified.csv')

In [5]:
print(users.shape)
print(ratings.shape)
print(food.shape)

(1000, 14)
(6598, 3)
(2617, 11)

In [6]:
import numpy as np
users.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [7]:
food.duplicated().sum()

15

In [8]:
# Drop duplicate rows based on all columns
food = food.drop_duplicates()
# Display the resulting DataFrame without duplicates
food.duplicated().sum()

0

In [9]:
print(food.columns)
print(ratings.columns)
print(users.columns)

Index(['id', 'title', 'imageSrc', 'url', 'cookTime', 'carbohydrates', 'fat',
       'protein', 'calories', 'like', 'dislike'],
      dtype='object')
Index(['ID', 'foodId', 'star'], dtype='object')
Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [10]:
food.rename(columns={'id':'foodId'}, inplace=True)
food.columns

Index(['foodId', 'title', 'imageSrc', 'url', 'cookTime', 'carbohydrates',
       'fat', 'protein', 'calories', 'like', 'dislike'],
      dtype='object')

In [14]:
ratings_merged_user=ratings.merge(users, on='ID')
print(ratings_merged_user)

       ID  foodId  star  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  \
0     502    2898     1      17975      F   50   4.7  46    4.9   4.2  0.9
1     502    2431     7      17975      F   50   4.7  46    4.9   4.2  0.9
2     502    3181     5      17975      F   50   4.7  46    4.9   4.2  0.9
3     502    3077     9      17975      F   50   4.7  46    4.9   4.2  0.9
4     502    2329     1      17975      F   50   4.7  46    4.9   4.2  0.9
...   ...     ...   ...        ...    ...  ...   ...  ..    ...   ...  ...
9178  248    1930     5      24054      M   54   5.0  67    6.9   3.8  1.7
9179  248    3208    10      24054      M   54   5.0  67    6.9   3.8  1.7
9180  248    2956     4      24054      M   54   5.0  67    6.9   3.8  1.7
9181  248    3368     1      24054      M   54   5.0  67    6.9   3.8  1.7
9182  248    2907     5      24054      M   54   5.0  67    6.9   3.8  1.7

      HDL  LDL  VLDL   BMI CLASS
0     2.4  1.4   0.5  24.0     N
1     2.4  1.4   0.5  24.0     N
2     2.4  1.4   0.5  24.0     N
3     2.4  1.4   0.5  24.0     N
4     2.4  1.4   0.5  24.0     N
...   ...  ...   ...   ...   ...
9178  1.1  3.0   0.7  33.0    Y
9179  1.1  3.0   0.7  33.0    Y
9180  1.1  3.0   0.7  33.0    Y
9181  1.1  3.0   0.7  33.0    Y
9182  1.1  3.0   0.7  33.0    Y

[9183 rows x 16 columns]

In [16]:
ratings_merged_user.columns

Index(['ID', 'foodId', 'star', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr',
       'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [20]:
from sklearn.metrics.pairwise import cosine_similarity
df = pd.DataFrame(users)
def find_similar_users(user_data, dataframe, num_similar_users=5):
    # Specify the columns for similarity calculation
    numerical_cols = ['Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']
    user_data_numeric = user_data[numerical_cols].values.reshape(1, -1)
    dataframe_numeric = dataframe[numerical_cols]

    # Calculate cosine similarity
    similarities = cosine_similarity(user_data_numeric, dataframe_numeric)

    # Get indices of most similar users
    similar_user_indices = similarities.argsort()[0][-num_similar_users-1:-1][::-1]

    # Get the most similar users
    similar_users = dataframe.iloc[similar_user_indices]

    return similar_users

# Example: Find users similar to a given user (replace with actual user data)
new_user_data = {
    'ID': [6],
    'No_Pation': [106],
    'Gender': ['M'],
    'AGE': [33],
    'Urea': [28],
    'Cr': [1.1],
    'HbA1c': [5.6],
    'Chol': [190],
    'TG': [58],
    'HDL': [43],
    'LDL': [128],
    'VLDL': [11],
    'BMI': [26.0],
    'CLASS': ['A']
}
new_user_df = pd.DataFrame(new_user_data)
similar_users = find_similar_users(new_user_df, df)
print("Users similar to the new user:")
print(similar_users)

Users similar to the new user:
      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol    TG  HDL  LDL  VLDL  \
223  750      34244      F   49   2.2  23    4.0   6.6   3.8  1.0  4.1   1.7
667  591      34481      F   61   2.5  45   11.6   9.7  13.8  1.0  3.1   6.3
540  767      34426      M   52  11.0  26    8.3   6.8   3.7  0.9  1.7   1.6
854   13        466      M   55   3.0  30    9.1   6.6   2.9  1.1  4.3   1.3
758  728      34526      F   54   2.2  29   11.8   6.7   2.0  0.9  5.0   0.9

      BMI CLASS
223  23.0     Y
667  33.0     Y
540  29.0     Y
854  29.0     Y
758  33.0     Y

In [22]:
new_user_data = {
    'Urea': [4.7],
    'Cr': [46],
    'HbA1c': [4.9],
    'Chol': [4.2],
    'TG': [0.9],
    'HDL': [2.4],
    'LDL': [1.4],
    'VLDL': [0.5],
    'BMI': [24],
    # 'CLASS': ['A']
}
new_user_df = pd.DataFrame(new_user_data)
similar_users = find_similar_users(new_user_df, df)
print("Users similar to the new user:")
print(similar_users)

Users similar to the new user:
      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
3    680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
2    420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
140  754      34296      M   49   4.8  46    5.8   4.8  1.1  1.7  2.6   0.5
222  685      34310      F   39   4.2  45    5.0   4.4  1.7  2.8  0.7   0.6
581  330      34448      M   54   6.8  73    7.5   5.1  2.0  1.3  1.4   1.5

      BMI CLASS
3    24.0     N
2    24.0     N
140  24.0     P
222  25.0     Y
581  39.0     Y