In [14]:
import pandas as pd
# Read the CSV file into a DataFrame
df = pd.read_csv('PatientFood_choice.csv')

# Explode the 'Food_Choices' column to create a new row for each element in the list
df_exploded = df.explode('Food_Choices')

# Extract the individual elements from the lists in 'Food_Choices'
df_exploded['Food_Choices'] = df_exploded['Food_Choices'].apply(lambda x: [int(i) for i in x.strip('[]').split()])

# Explode the 'Food_Choices' column again to create a new row for each element in the list
ratings = df_exploded.explode('Food_Choices')

# Display the resulting DataFrame
ratings[['ID', 'Food_Choices']]

      ID Food_Choices
0    502         1330
0    502         1928
0    502          933
0    502           79
0    502         3363
..   ...          ...
799  248          933
799  248           79
799  248         3363
799  248         3523
799  248         3261

[5594 rows x 2 columns]

In [15]:
users = pd.read_csv('Dataset of Diabetes .csv')
food = pd.read_csv('food_data_modified.csv')

In [16]:
print(users.shape)
print(ratings.shape)
print(food.shape)

(1000, 14)
(5594, 15)
(2617, 11)

In [19]:
import numpy as np
ratings['star'] = np.random.randint(1, 11, size=len(ratings));
ratings[['ID', 'Food_Choices', 'star']]

      ID Food_Choices  star
0    502         1330     6
0    502         1928     5
0    502          933     9
0    502           79     8
0    502         3363     8
..   ...          ...   ...
799  248          933     6
799  248           79     6
799  248         3363     4
799  248         3523     7
799  248         3261     7

[5594 rows x 3 columns]

In [22]:
ratings.isnull().sum()

ID              0
No_Pation       0
Gender          0
AGE             0
Urea            0
Cr              0
HbA1c           0
Chol            0
TG              0
HDL             0
LDL             0
VLDL            0
BMI             0
Food_Choices    0
CLASS           0
star            0
dtype: int64

In [26]:
food.duplicated().sum()

15

In [27]:
# Drop duplicate rows based on all columns
food_no_duplicates = food.drop_duplicates()

# Display the resulting DataFrame without duplicates
print(food_no_duplicates)

        id                                              title  \
0      302              Healthy Homemade Green Bean Casserole
1       84                                        Berry Crisp
2     2073             Low-Carb Cauliflower Mashed "Potatoes"
3      311                                Herb-Roasted Turkey
4      592  Winter Squash with Oat and Walnut Crumble Topp...
...    ...                                                ...
2612  3143                                   Tacos de Pescado
2613  1729                        Tarta de manzana de Ronaldo
2614  1754  Tostadas de Camarones Ahumados con Ensalada de...
2615  3162                       Tostadas de Huevo y Aguacate
2616  1799  Apple, Beet, and Carrot Slaw with blood Orange...

                                               imageSrc  \
0     https://static.diabetesfoodhub.org/system/thum...
1     https://static.diabetesfoodhub.org/system/thum...
2     https://static.diabetesfoodhub.org/system/thum...
3     https://static.diabetesfoodhub.org/system/thum...
4     https://static.diabetesfoodhub.org/system/thum...
...                                                 ...
2612  https://static.diabetesfoodhub.org/system/thum...
2613  https://static.diabetesfoodhub.org/system/thum...
2614  https://static.diabetesfoodhub.org/system/thum...
2615  https://static.diabetesfoodhub.org/system/thum...
2616  https://static.diabetesfoodhub.org/system/thum...

                                                    url cookTime  \
0     https://www.diabetesfoodhub.org/recipes/health...      NaN
1     https://www.diabetesfoodhub.org/recipes/berry-...   55 min
2     https://www.diabetesfoodhub.org/recipes/low-ca...   10 min
3     https://www.diabetesfoodhub.org/recipes/herb-r...      NaN
4     https://www.diabetesfoodhub.org/recipes/winter...      NaN
...                                                 ...      ...
2612  https://www.diabetesfoodhub.org/recipes/tacos-...    7 min
2613  https://www.diabetesfoodhub.org/recipes/tarta-...     1 hr
2614  https://www.diabetesfoodhub.org/recipes/tostad...   30 min
2615  https://www.diabetesfoodhub.org/recipes/tostad...      NaN
2616  https://www.diabetesfoodhub.org/recipes/apple-...      NaN

      carbohydrates   fat  protein  calories  like  dislike
0              11.0   6.0      4.0     110.0   3.0      0.0
1              24.0  11.0      3.0     190.0   8.0      1.0
2               7.0   4.0      4.0      70.0   1.0      0.0
3               0.0   2.5     33.0     165.0   1.0      0.0
4              18.0   3.5      2.0     105.0   1.0      0.0
...             ...   ...      ...       ...   ...      ...
2612           14.0   2.5      0.0     150.0   0.0      1.0
2613           40.0  10.0      4.0     250.0   1.0      1.0
2614           29.0   5.0     10.0     190.0   1.0      1.0
2615           26.0  12.0      0.0     250.0   3.0      1.0
2616           15.0  12.0      2.0     170.0   1.0      2.0

[2602 rows x 11 columns]

In [28]:
food=food_no_duplicates

In [29]:
print (food)

        id                                              title  \
0      302              Healthy Homemade Green Bean Casserole
1       84                                        Berry Crisp
2     2073             Low-Carb Cauliflower Mashed "Potatoes"
3      311                                Herb-Roasted Turkey
4      592  Winter Squash with Oat and Walnut Crumble Topp...
...    ...                                                ...
2612  3143                                   Tacos de Pescado
2613  1729                        Tarta de manzana de Ronaldo
2614  1754  Tostadas de Camarones Ahumados con Ensalada de...
2615  3162                       Tostadas de Huevo y Aguacate
2616  1799  Apple, Beet, and Carrot Slaw with blood Orange...

                                               imageSrc  \
0     https://static.diabetesfoodhub.org/system/thum...
1     https://static.diabetesfoodhub.org/system/thum...
2     https://static.diabetesfoodhub.org/system/thum...
3     https://static.diabetesfoodhub.org/system/thum...
4     https://static.diabetesfoodhub.org/system/thum...
...                                                 ...
2612  https://static.diabetesfoodhub.org/system/thum...
2613  https://static.diabetesfoodhub.org/system/thum...
2614  https://static.diabetesfoodhub.org/system/thum...
2615  https://static.diabetesfoodhub.org/system/thum...
2616  https://static.diabetesfoodhub.org/system/thum...

                                                    url cookTime  \
0     https://www.diabetesfoodhub.org/recipes/health...      NaN
1     https://www.diabetesfoodhub.org/recipes/berry-...   55 min
2     https://www.diabetesfoodhub.org/recipes/low-ca...   10 min
3     https://www.diabetesfoodhub.org/recipes/herb-r...      NaN
4     https://www.diabetesfoodhub.org/recipes/winter...      NaN
...                                                 ...      ...
2612  https://www.diabetesfoodhub.org/recipes/tacos-...    7 min
2613  https://www.diabetesfoodhub.org/recipes/tarta-...     1 hr
2614  https://www.diabetesfoodhub.org/recipes/tostad...   30 min
2615  https://www.diabetesfoodhub.org/recipes/tostad...      NaN
2616  https://www.diabetesfoodhub.org/recipes/apple-...      NaN

      carbohydrates   fat  protein  calories  like  dislike
0              11.0   6.0      4.0     110.0   3.0      0.0
1              24.0  11.0      3.0     190.0   8.0      1.0
2               7.0   4.0      4.0      70.0   1.0      0.0
3               0.0   2.5     33.0     165.0   1.0      0.0
4              18.0   3.5      2.0     105.0   1.0      0.0
...             ...   ...      ...       ...   ...      ...
2612           14.0   2.5      0.0     150.0   0.0      1.0
2613           40.0  10.0      4.0     250.0   1.0      1.0
2614           29.0   5.0     10.0     190.0   1.0      1.0
2615           26.0  12.0      0.0     250.0   3.0      1.0
2616           15.0  12.0      2.0     170.0   1.0      2.0

[2602 rows x 11 columns]

In [41]:
print(food.columns)
print(ratings.columns)
print(users.columns)

Index(['id', 'title', 'imageSrc', 'url', 'carbohydrates', 'fat', 'protein',
       'calories', 'like', 'dislike'],
      dtype='object')
Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'Food_Choices', 'CLASS', 'star'],
      dtype='object')
Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [43]:
print(ratings)

      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
..   ...        ...    ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
799  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7
799  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7
799  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7
799  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7
799  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI Food_Choices CLASS  star
0    24.0         1330     N     6
0    24.0         1928     N     5
0    24.0          933     N     9
0    24.0           79     N     8
0    24.0         3363     N     8
..    ...          ...   ...   ...
799  33.0          933    Y      6
799  33.0           79    Y      6
799  33.0         3363    Y      4
799  33.0         3523    Y      7
799  33.0         3261    Y      7

[5594 rows x 16 columns]

In [49]:
# Rename a specific column (e.g., 'old_column_name' to 'new_column_name')
ratings.rename(columns={'Food_Choices': 'foodId'}, inplace=True)

# Read the CSV file into a DataFrame
df = pd.read_csv('PatientFood_choice.csv')

# Explode the 'Food_Choices' column to create a new row for each element in the list
df_exploded = df.explode('Food_Choices')

# Extract the individual elements from the lists in 'Food_Choices'
df_exploded['Food_Choices'] = df_exploded['Food_Choices'].apply(lambda x: [int(i) for i in x.strip('[]').split()])

# Explode the 'Food_Choices' column again to create a new row for each element in the list
ratings = df_exploded.explode('Food_Choices')

# Display the resulting DataFrame
ratings[['ID', 'Food_Choices']]

ratings['star'] = np.random.randint(1, 11, size=len(ratings));
ratings[['ID', 'Food_Choices', 'star']]

columns_to_drop = ['No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS']
ratings = ratings.drop(columns_to_drop, axis=1)
print(ratings)

      ID Food_Choices  star
0    502         1330     5
0    502         1928     3
0    502          933    10
0    502           79     5
0    502         3363     9
..   ...          ...   ...
799  248          933     7
799  248           79     7
799  248         3363     3
799  248         3523    10
799  248         3261     1

[5594 rows x 3 columns]

In [52]:
ratings.rename(columns={'Food_Choices':'foodId'}, inplace=True)
print(ratings)

      ID foodId  star
0    502   1330     5
0    502   1928     3
0    502    933    10
0    502     79     5
0    502   3363     9
..   ...    ...   ...
799  248    933     7
799  248     79     7
799  248   3363     3
799  248   3523    10
799  248   3261     1

[5594 rows x 3 columns]

In [55]:
food.rename(columns={'id':'foodId'}, inplace=True)
food.columns

Index(['foodId', 'title', 'imageSrc', 'url', 'carbohydrates', 'fat', 'protein',
       'calories', 'like', 'dislike'],
      dtype='object')

In [62]:
ratings_merged_food=ratings.merge(food, on='foodId')
print(ratings_merged_food)

       ID foodId  star                        title  \
0     502   1330     5  Meat Lover's Breakfast Cups
1     735   1330     7  Meat Lover's Breakfast Cups
2     420   1330     7  Meat Lover's Breakfast Cups
3     680   1330     9  Meat Lover's Breakfast Cups
4     504   1330     3  Meat Lover's Breakfast Cups
...   ...    ...   ...                          ...
5589  208   1022     3       Better Mashed Potatoes
5590  543   1022     8       Better Mashed Potatoes
5591  436   1022     7       Better Mashed Potatoes
5592  415   1022    10       Better Mashed Potatoes
5593  781   1022     6       Better Mashed Potatoes

                                               imageSrc  \
0     https://static.diabetesfoodhub.org/system/thum...
1     https://static.diabetesfoodhub.org/system/thum...
2     https://static.diabetesfoodhub.org/system/thum...
3     https://static.diabetesfoodhub.org/system/thum...
4     https://static.diabetesfoodhub.org/system/thum...
...                                                 ...
5589  https://static.diabetesfoodhub.org/system/thum...
5590  https://static.diabetesfoodhub.org/system/thum...
5591  https://static.diabetesfoodhub.org/system/thum...
5592  https://static.diabetesfoodhub.org/system/thum...
5593  https://static.diabetesfoodhub.org/system/thum...

                                                    url  carbohydrates  fat  \
0     https://www.diabetesfoodhub.org/recipes/meat-l...            9.0  5.0
1     https://www.diabetesfoodhub.org/recipes/meat-l...            9.0  5.0
2     https://www.diabetesfoodhub.org/recipes/meat-l...            9.0  5.0
3     https://www.diabetesfoodhub.org/recipes/meat-l...            9.0  5.0
4     https://www.diabetesfoodhub.org/recipes/meat-l...            9.0  5.0
...                                                 ...            ...  ...
5589  https://www.diabetesfoodhub.org/recipes/better...            7.0  2.0
5590  https://www.diabetesfoodhub.org/recipes/better...            7.0  2.0
5591  https://www.diabetesfoodhub.org/recipes/better...            7.0  2.0
5592  https://www.diabetesfoodhub.org/recipes/better...            7.0  2.0
5593  https://www.diabetesfoodhub.org/recipes/better...            7.0  2.0

      protein  calories   like  dislike
0         8.0     110.0  203.0     29.0
1         8.0     110.0  203.0     29.0
2         8.0     110.0  203.0     29.0
3         8.0     110.0  203.0     29.0
4         8.0     110.0  203.0     29.0
...       ...       ...    ...      ...
5589      2.0      60.0  136.0     40.0
5590      2.0      60.0  136.0     40.0
5591      2.0      60.0  136.0     40.0
5592      2.0      60.0  136.0     40.0
5593      2.0      60.0  136.0     40.0

[5594 rows x 12 columns]

In [63]:
ratings_merged_food.columns

Index(['ID', 'foodId', 'star', 'title', 'imageSrc', 'url', 'carbohydrates',
       'fat', 'protein', 'calories', 'like', 'dislike'],
      dtype='object')

In [64]:
columns_to_drop = ['imageSrc', 'url', 'like', 'dislike']
ratings_merged_food = ratings_merged_food.drop(columns_to_drop, axis=1)
print(ratings_merged_food)

       ID foodId  star                        title  carbohydrates  fat  \
0     502   1330     5  Meat Lover's Breakfast Cups            9.0  5.0
1     735   1330     7  Meat Lover's Breakfast Cups            9.0  5.0
2     420   1330     7  Meat Lover's Breakfast Cups            9.0  5.0
3     680   1330     9  Meat Lover's Breakfast Cups            9.0  5.0
4     504   1330     3  Meat Lover's Breakfast Cups            9.0  5.0
...   ...    ...   ...                          ...            ...  ...
5589  208   1022     3       Better Mashed Potatoes            7.0  2.0
5590  543   1022     8       Better Mashed Potatoes            7.0  2.0
5591  436   1022     7       Better Mashed Potatoes            7.0  2.0
5592  415   1022    10       Better Mashed Potatoes            7.0  2.0
5593  781   1022     6       Better Mashed Potatoes            7.0  2.0

      protein  calories
0         8.0     110.0
1         8.0     110.0
2         8.0     110.0
3         8.0     110.0
4         8.0     110.0
...       ...       ...
5589      2.0      60.0
5590      2.0      60.0
5591      2.0      60.0
5592      2.0      60.0
5593      2.0      60.0

[5594 rows x 8 columns]

In [70]:
final_rating=ratings_merged_food
pt = final_rating.pivot_table(index='title',columns='ID',values='star')
pt.fillna(0,inplace=True)

In [71]:
pt

ID,1,2,3,4,5,6,7,8,9,10,...,791,792,793,794,795,796,797,798,799,800
title,,,,,,,,,,,,,,,,,,,,,
Beef Stroganoff,0.0,7.0,7.0,5.0,0.0,10.0,1.0,4.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,10.0,0.0
Better Mashed Potatoes,0.0,1.0,4.0,5.0,0.0,0.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,7.0,0.0
Breakfast Quesadilla,2.0,10.0,4.0,10.0,9.0,8.0,10.0,2.0,3.0,4.0,...,1.0,2.0,4.0,10.0,8.0,10.0,2.0,6.0,10.0,8.0
Empanadas Horneadas de Pollo,7.0,5.0,4.0,10.0,4.0,3.0,2.0,2.0,7.0,5.0,...,5.0,1.0,3.0,2.0,10.0,1.0,2.0,9.0,8.0,8.0
Low Carb Chicken and Zucchini Casserole,9.0,2.0,7.0,10.0,3.0,6.0,8.0,10.0,4.0,5.0,...,10.0,3.0,1.0,6.0,2.0,1.0,6.0,4.0,4.0,7.0
Macarrones con Queso y jalapeños,0.0,8.0,9.0,7.0,0.0,0.0,4.0,9.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0
Macarrones con queso de coliflor y langosta,6.0,10.0,8.0,8.0,0.0,5.0,5.0,2.0,4.0,10.0,...,8.0,4.0,10.0,0.0,7.0,0.0,0.0,10.0,6.0,4.0
Meat Lover's Breakfast Cups,8.0,4.0,8.0,9.0,5.0,6.0,5.0,2.0,10.0,9.0,...,10.0,2.0,2.0,10.0,6.0,7.0,5.0,2.0,10.0,2.0
Simple Chicken Stirfry,7.0,6.0,2.0,4.0,7.0,10.0,5.0,1.0,1.0,3.0,...,8.0,10.0,7.0,1.0,3.0,6.0,1.0,6.0,2.0,8.0

In [72]:
from sklearn.metrics.pairwise import cosine_similarity

In [73]:
similarity_scores = cosine_similarity(pt)

In [75]:
similarity_scores.shape

(9, 9)

In [76]:
similarity_scores

array([[1.        , 0.49600338, 0.60461338, 0.60665991, 0.58548687,
        0.6520232 , 0.66104288, 0.59654941, 0.59620309],
       [0.49600338, 1.        , 0.34882795, 0.38888599, 0.35750004,
        0.57027221, 0.40640701, 0.37297301, 0.35980811],
       [0.60461338, 0.34882795, 1.        , 0.77189204, 0.76758548,
        0.4950424 , 0.68898693, 0.77934675, 0.77909673],
       [0.60665991, 0.38888599, 0.77189204, 1.        , 0.77328341,
        0.49663615, 0.69498613, 0.77741364, 0.77625088],
       [0.58548687, 0.35750004, 0.76758548, 0.77328341, 1.        ,
        0.47975491, 0.67390329, 0.78283205, 0.79280301],
       [0.6520232 , 0.57027221, 0.4950424 , 0.49663615, 0.47975491,
        1.        , 0.5259099 , 0.48221464, 0.48194994],
       [0.66104288, 0.40640701, 0.68898693, 0.69498613, 0.67390329,
        0.5259099 , 1.        , 0.67533175, 0.67453817],
       [0.59654941, 0.37297301, 0.77934675, 0.77741364, 0.78283205,
        0.48221464, 0.67533175, 1.        , 0.78601578],
       [0.59620309, 0.35980811, 0.77909673, 0.77625088, 0.79280301,
        0.48194994, 0.67453817, 0.78601578, 1.        ]])

In [89]:
def recommend(food_name):
    # index fetch
    index = np.where(pt.index==food_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = food[food['title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        
        data.append(item)
    
    return data

In [90]:
recommend("Meat Lover's Breakfast Cups")

[['Simple Chicken Stirfry'],
 ['Low Carb Chicken and Zucchini Casserole'],
 ['Breakfast Quesadilla'],
 ['Empanadas Horneadas de Pollo']]

In [91]:
recommend("Simple Chicken Stirfry")

[['Low Carb Chicken and Zucchini Casserole'],
 ["Meat Lover's Breakfast Cups"],
 ['Breakfast Quesadilla'],
 ['Empanadas Horneadas de Pollo']]